.links {
  margin-top: 300px;
  text-align: center;
}

.links a {
  display: block;
  margin: 15px 0;
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  opacity: 0.7;
}

.links a:hover {
  opacity: 1;
}

.top {
  position: absolute;
  top: 60px;
  left: 40%;
  z-index: 2;
  filter: drop-shadow(0 0 10px #ffffffa3);
}
